<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        html, body {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        .ie-msg-mox{
            width: calc(100% - 100px);
            height: 300px;
            margin: 100px auto;
            background-color: #EFEFEF;
            text-align: center;
        }
        .ie-msg-mox .msg{
            line-height: 300px;
        }
    </style>
</head>
<body>
<div id="open-ie" class="ie-msg-mox">
    <p class="msg">您尚未配置SPM登录信息, 请联系管理员</p>
</div>
</body>
</html>